/* @theme speee */

@import "default";
section {
  /* fontは https://speee.kibe.la/@masayuki_nagayama/22064 に合わせた */
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  background: radial-gradient(#f2b9a1, #ea6264);
}

section.title {
  color: white;
  background: radial-gradient(#003981, #ea6264);
}

section.title H1 {
  color: white;
}

section.title H2 {
  color: white;
}
