/* @theme speee */

@import-theme "default";

section {
  background: radial-gradient(#f2b9a1, #ea6264);
}

section.title {
  color: white;
  background: radial-gradient(#003981, #ea6264);

  H1 {
    color: white;
  }

  H2 {
    color: white;
  }
}
