/* @theme speee */

@import-theme "gaia";

// 以下を参考に記述
// https://github.com/marp-team/marp-core/blob/3ae79e06953bb4baf26ded4c9e1c5154169d70a4/themes/uncover.scss#L12-L22
@mixin color-scheme($bg, $text, $highlight) {
  --color-background: #{$bg};
  --color-background-code: #{mix($bg, $text, 95%)};
  --color-background-paginate: #{rgba($text, 0.05)};
  --color-foreground: #{$text};
  --color-highlight: #{$highlight};
  --color-highlight-hover: #{mix($text, $highlight, 25%)};
  --color-highlight-heading: #{mix(#fff, $highlight, 20%)};
  --color-header: #{rgba($text, 0.4)};
  --color-header-shadow: #{rgba($bg, 0.8)};
}

section {
  @include color-scheme(#202228, #fff, #60d0f0);
}
